.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: middle;  
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch input:checked + .slider {
    background-color: #00b898;

  }

  .switch input:checked + .slider::before {
    border-color: #00b898;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .switch input:focus + .slider {
    box-shadow: 0 0 1px #00b898;
  }

  .switch input:focus + .slider::before {
    border-color: #00b898;
  }

  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 34px;
  }

  .switch .slider:before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    left: -2px;
    bottom: -2px;
    border: solid 2px #ccc;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .form-control-sm {
    height: calc(1.25em + .25rem + 2px);
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.25;
    border-radius: .2rem;
  }


  button.btn-green {
    background-color: #00B898;
    border-color: #00B898;
    color: #fff;
  }
  button.btn-green:hover {
    background-color: #04bd9e !important;
    border-color: #04bd9e !important;
  }
button.btn-green:active {
  background-color: #07a88d !important;
  border-color: #07a88d !important;
}

@media screen and (min-width: 769px) {
  #chat-wrapper {
    max-width:414px
  }
}

#chat-list {
  padding-inline-start: 0;
  list-style-type: none;
}

.chat-msg {
  display: flex;
  flex-direction: row;
  margin: 4px 64px 16px 4px;
}
.chat-msg.me {
  margin: 4px 4px 16px 64px;
}

.chat-msg .img-container{
  position: relative;
  width: 40px;
  padding: 4px;
}

.chat-msg .img-container img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #999;
}

.chat-msg .msg-container {
  flex: 1;
  font-size: 0.75em;
}

.chat-msg .msg-container .d-name {
  position: relative;
  display: block;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 4px;
  padding: 0 4px;
}
.chat-msg.me .msg-container .d-name {
  text-align: right;
}

.chat-msg .msg-container .msg {
  position: relative;
  display: block;
  /* background: #17a2b8; */
  background: #fff;
  color: #444;
  padding: 8px;
  border: solid 1px #777;
  border-radius: 4px;
  box-shadow: 0 2px 0 #777;
}

.chat-msg.me .msg-container .msg {
  background: #17a2b8;
  color: #fff;
}

.btn-profile-icon {
  background: #fff;
  outline: none;
  border: none;
  padding: 8px;
  margin: 2px;
  box-sizing: border-box;
}

.btn-profile-icon:hover {
  background: #eee;
}

.btn-profile-icon.active {
  border: solid 2px #17a2b8;
  padding: 6px;
}

.btn.btn-floating {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  margin: 0 8px;
}

.btn.btn-floating .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#feed-list { list-style-type:none; }

.li-stream-card {
  float: left;
  position: relative;
  background: #000;
  /* margin: 20px; */
  margin-bottom: 16px;
  box-sizing: border-box;
}

.li-stream-card.active {
  border: solid 3px red;
}

.li-stream-card video {
  object-fit: cover;
  width: 160px;
  height: 90px;
}

.li-stream-card .name {
  padding: 8px;
  background: #fff;
}

.li-stream-card .btn-mute {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px
}

.li-stream-card .btn-mute img {
  width: 16px;
  height: 16px;
}

.li-stream-card .vol-meter{
  position: absolute;
  top: 90px;
  width: 100%;
  height: 6px;
  background: #66ff00;
}

#btn-subscribe-call {
  background:#3cb043;
}

#btn-subscribe-call.calling {
  background:#f51b00;
}